.containerBtnGoBack {
  flex: auto;
  justify-content: left;
}

.btnGoBack {
  background-color: #1d4ed8;
  color: white;
  padding-left: 1rem; /* 16px */
  padding-right: 1rem; /* 16px */
  padding: 0.5rem; /* 8px */
  font-weight: bold;
  border-radius: 8px;
}

.btnGoBack:hover {
  background-color: #0b2366;
}