.containerBtnGoBack {
  display: flex;
  justify-content: flex-start;
  padding-left: 1rem;
}

.btnGoBack {
  background-color: #61dafb;
  color: teal;
  padding-left: 1rem; /* 16px */
  padding-right: 1rem; /* 16px */
  padding: 0.5rem; /* 8px */
  font-weight: bold;
  height: 40px;
  border: 1px solid rgba(255, 255, 255, 0);
  border-radius: 8px;
  align-items: center;
}

.btnGoBack:hover {
  background-color: #2a265f;
  color: white;
}