.container {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 0.75rem; /* 12px */
  place-content: center;
  height: 100%;
  padding-left: 1.25rem; /* 20px */
  padding-right: 1.25rem; /* 20px */
  margin-bottom: 1rem; /* 16px */
  border: 1px solid lightgrey;
  border-radius: 8px;
}

.firstSubContainer, .secondSubContainer, .thirdSubContainer {
  display: flex;
  align-items: center;
}

.labelText{
  margin-bottom: 12px;
  font-weight: 300;
  font-size: medium;
  padding-left: 3px;
}